
<div class="container-fluid container-index">
<header>
	<div class="title"><img src='/images/logo.png'></div>
	<ul class="navbar">
		<li>HOME</li>
		<li>BOOK</li>
		<li>CONTACT</li>
	</ul>
</header>	
	<div class="row">
		<div class="jumbotron col-sm-6" id="tagline">
			<h4>HOW ABOUT SOME</h4>
			<h3>SHUDDH</h3>
			<h1>DESI</h1>
			<h2>CINEMA</h2>
			
		</div>
		<div class="playlist-viewer" >
		<div class="playlist-div col-sm-6">
			<ul class="playlist-select">
				<li class="active">NOW PLAYING</li>
				<li>UPCOMING</li>
			</ul>
			<ul class="playlist-now">
				<li class="playlist-item"><img src="/images/01.jpg"></li>
				<li class="playlist-item"><img src="/images/02.jpg"></li>
			</ul>
		</div>
	</div>

</div>