
<div class="container-fluid container-index" style="padding: 0;"></div>
<div class="container-fluid index-content">
	<header>
		<div class="title"><img src='/images/logo.png'></div>
		<ul class="navbar">
			<li>HOME</li>
			<li>BOOK</li>
			<li>CONTACT</li>
		</ul>
	</header>	
	<div class="row" ng-controller="PlaylistController as playCtrl" ng-init="playCtrl.playListFetch()">
		<div class="container-fluid playlist-viewer col-md-6 hidden-sec" >
			<h1 id="title-view">{{name}}</h1>
			<p id="genre-view">{{genre}}</p>

			<p id="cast-view"><b>CAST |&nbsp;</b>&nbsp;{{cast}}</p>
			
			<br>
			<p id="synopsis-view"><i>"{{synopsis}}"</i>	</p>
			<br>
			<br>
			<div id="show-view">
				<table style="width:90%">
				  <tr>
				    <th>Show</th>
				    <th width="60">Price</th> 
				  </tr>
				  <tr ng-repeat="show in shows">
				    <td>{{show.t}}</td> 
				    <td>{{show.p}}</td>
				  </tr>
				</table>
			</div>
			<div id="tool-view">
				<div class="tool-btn" id="trailer-btn" ng-click="playCtrl.showTrailer()"><span class="glyphicon glyphicon-film"></span> &nbsp;  WATCH TRAILER</div>
				<a href="https://in.bookmyshow.com/agartala/movies/{{initials}}/{{code}}"><div class="tool-btn" id="book-btn"><span class="glyphicon glyphicon-tags"></span> &nbsp;  BOOK TICKETS</div></a>
			</div>
		</div>
		<div class="playlist-div col-md-6 col-md-offset-{{offset}}">
			<div>
				<ul class="playlist-select">
					<li class="active">NOW PLAYING</li>
					<li>UPCOMING</li>
				</ul>
			</div>
			<div>
				<ul class="playlist-now">
					<li class="playlist-item" playlist-item="{{movie._id}}" ng-repeat="movie in movies"><img ng-src="{{movie.poster.url}}"></li>
					<!--<li class="playlist-item"><img src="/images/02.jpg"></li>-->
				</ul>
			</div>
		</div>
	</div>
	<footer style="position: fixed; bottom: 5px;">
			MADE WITH <span style="color: indianred">&#10084;</span> BY <a href="http://evilcodes.in" style="text-decoration: none; color: rgba(255,255,255,0.7);"><b>Evilcodes Studio</b>
	</footer>
</div>